# It's nice to have a .dockerignore file
# Even if there is no COPY ALL statement in your Dockerfile
# https://codefresh.io/blog/not-ignore-dockerignore-2/

# .gitignore
private/
node_modules/
dist/
.vscode/
.idea/
.DS_Store
.env
.env.*
