# It's nice to have a .dockerignore file
# Even if there is no COPY ALL statement in your Dockerfile
# https://codefresh.io/blog/not-ignore-dockerignore-2/

# Excludes all files and folders by default
*/
*.*

# Includes these files and folders, Dockerfile needs them
!package.json
!package-lock.json
!index.html
!vite.config.js
!docker/
!public/
!src/
